import time
import random
score = 0
def print_with_delay(text):
    time.sleep(0)
    print(text)
    time.sleep(0)
def blue_pill():
    global score
    print_with_delay("He gave you the blue pill and walked away, he vanished in a matter of few seconds.")
    print_with_delay("you question whether you should take this pill or not, but you end up taking it anyway.")
def red_pill():
    global score
    print_with_delay("He gave you the red pill and walked away, he vanished in a matter of few seconds.")
    print_with_delay("You question whether you should take this pill or not, but you end up taking it anyway.")
    print_with_delay("You finish your work, go back home, sleep and wake up the next day feeling funny.")
    print_with_delay("You do the usual, on your way to work, you get a vision of a man stealing some woman's bag and running away with it")
    print_with_delay("Few minutes later, you see the same woman. Would you stop and tell her, or run away?")
    PlayersChoiceSit2 = str(input("Tell her/Keep going\n>").strip().lower())
    while PlayersChoiceSit2 != "tell her" and PlayersChoiceSit2 != "keep going":
        time.sleep(1)
        listOfThingsTosaySit2 = ["We are running out of time, tell her or keep going\n>", "That's not an option, tell her or keep going?\n>", "Come on! would you tell her or keep going?\n>"]
        PlayersChoiceSit2 = input(random.choice(listOfThingsTosaySit2))
    if PlayersChoiceSit2 == "tell her":
        print("You told the woman to go to a different road and explained that this is not safe for here, she did what you told her.")
        score += 1  
    else:
        print("You kept giong and looked behind to see the vision beomeing real, the vision actually happened!")
        score -=1 
    print_with_delay("Player's score = " + str(score))
    print_with_delay("You're almost there, you're so close to get to where you work. However, the road you take each time is under maintainance, which alternative road would you take, left or right?")
    RoadChoiceSit1 = str(input("Left/Right\n>").strip().lower())
    while RoadChoiceSit1 != "left" and RoadChoiceSit1 != "right":
        listOfThingsTosaySit3 = ["That's not a valid choice! right or left?\n>", "Nope, that's not a valid road. Right or left?\n>", "Which road, Right or Left, come on bro!\n>"]
        RoadChoiceSit1 = input(random.choice(listOfThingsTosaySit3))
    if RoadChoiceSit1 == "left":
        red_pill_road_left()
    else:
        red_pill_road_right()
    print_with_delay("You got to work, You work as a building constructor. You once again get a vision in which you co-worker steps over a broken piece of wood and falls onto the ground")
    print_with_delay("Few minutes later you see that person going to the 12th floor, which the incident happened, what would you do? Save him or ignore?")
    PlayersChoiceSit4 = str(input("Save/Ignore\n>").strip().lower())
    while PlayersChoiceSit4 != "ignore" and PlayersChoiceSit4 != "save":
        time.sleep(1)
        listOfThingsTosaySit4 = ["He's going to that floor, you don't have much time! Save or ignore?\n>", "You only have few minutes left!!\n>", "SAVE OR IGNORE, COME ON!!\n>"]
        PlayersChoiceSit4 = input(random.choice(listOfThingsTosaySit4))
    if PlayersChoiceSit4 == "ignore":
        score -= 1  
        print_with_delay("The guy fell onto the ground and died, you could've saved him.")
    else:
        print_with_delay("You saved him, you told him that you're going there, you went and fixed that broken piece.")
        score += 1 
    print_with_delay("Player's score = " + str(score))      
def red_pill_road_right():
    print_with_delay("you went right") 
def red_pill_road_left():
    global score
    print_with_delay("You went left, you get another vision of kid crossing the road to get the ball he was playing with and gets hit by speeding car")
    print_with_delay("You then realize it was a vision, few minutes later you see a speeding car behind you and a kid playing far a head of you")
    print_with_delay("what would you do? ignore the whole thing or try to get in the way of the speeding car?")
    PlayersChoiceSit3 = str(input("Ignore/Do something\n>").strip().lower())
    while PlayersChoiceSit3 != "ignore" and PlayersChoiceSit3 != "do something":
        time.sleep(1)
        listOfThingsTosaySit3 = ["Hurry up, make up your mind!\n>", "Make your decision, Now!\n>", "That's not an option, Ignore/Do something ?\n>"]
        PlayersChoiceSit3 = input(random.choice(listOfThingsTosaySit3))
    if PlayersChoiceSit3 == "ignore":
        score -= 1  
        print_with_delay("the kid was hit and died, you could've saved him.")
    else:
        score += 1        
        print_with_delay("You saved the kid, but your car got hit, you're fine tho.")
    print_with_delay("Player's score = " + str(score))    
    
def main():
    global score
    while True:
        print_with_delay("Hello!, could you provide me with your name?:")
        PlayerName = str(input(">").strip().capitalize())
        print_with_delay("Hello " + PlayerName + "!")
        print_with_delay(PlayerName + ", it's a normal monday, you wake up at 6 am and are getting ready to go to work.")
        print_with_delay("You're driving and on your way to your boring and lame job, as always.")
        print_with_delay("you see a homeless guy standing in the middle of the road, you slow down, get out of your car and ask him if he's okay.")
        print_with_delay("He doesn't answer your question and offers you to take one of two pills, a red and a blue one")
        print_with_delay("which one would you pick?")
        PillChoice = input("Red/Blue\n>")
        while PillChoice != "red" and PillChoice != "blue":
            time.sleep(1)
            listOfThingsTosaySit1 = ["He seems mad, you better pick red or blue, NOW! \n>", "What are you waiting for, pick red or blue!\n>", "Hurry up! pick red or blue, NOW!\n>"]
            PillChoice = input(random.choice(listOfThingsTosaySit1))
        if PillChoice == "red":
            red_pill()
        else:
            blue_pill()
        print("Would you like to play again?") 
        PlayAgain = str(input("Yes/No\n>").strip().lower())
        while PlayAgain != "yes" and PlayAgain != "no":
            print_with_delay("That's not a valid choice, Yes or no?")
            PlayAgain = str(input("Yes/No\n>").strip().lower())
        if PlayAgain == "yes":
            score = 0
            continue
        else:
            print_with_delay("Thank you for playing this short game! hope you liked it. :)")
            break
main()
